<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Order_detail">
	<sql id="Base_Column_List">
		rowid,title,count,price,new_price,inperson,name,is_coupon,remark,indatetime,outdatetime,card,subnum
	</sql>
	<resultMap id="ResultMap"
		type="com.yichuang.kyjd.rest.entity.order_detail.Order_detail">
		<id property="rowid" column="rowid" />
		<id property="title" column="title" />
		<id property="count" column="count" />
		<id property="price" column="price" />
		<id property="new_price" column="new_price" />
		<id property="inperson" column="inperson" />
		<id property="name" column="name" />
		<id property="is_coupon" column="is_coupon" />
		<id property="remark" column="remark" />
		<id property="indatetime" column="indatetime" />
		<id property="outdatetime" column="outdatetime" />
		<id property="card" column="card" />
		<id property="subnum" column="subnum" />
	</resultMap>
	<insert id="save"
		parameterType="com.yichuang.kyjd.rest.entity.order_detail.Order_detail">
		<selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="rowid">
			SELECT LAST_INSERT_ID() AS rowid
		</selectKey>
		insert into ht_order_detail
		(title,count,price,new_price,inperson,name,is_coupon,remark,indatetime,outdatetime,card,subnum)
		values
		(#{title},#{count},#{price},#{new_price},#{inperson},#{name},#{is_coupon},#{remark},#{indatetime},#{outdatetime},#{card},#{subnum})
	</insert>
	<insert id="insertorderdetail" parameterType="com.yichuang.kyjd.rest.entity.order_info.Order">
		<selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="rowid">
			SELECT LAST_INSERT_ID() AS rowid
		</selectKey>
		insert into ht_order_detail
		(order_rowid,commodity_rowid,title,count,price,new_price,inperson,indatetime,outdatetime,subnum,passport,need,otherneed,predict,remark,address,card)
		values
		(#{orderrowid},#{commodityrowid},#{title},#{count},#{price},#{newprice},#{inperson},#{indatetime},#{outdatetime},#{subnum},#{passport},#{need},#{otherneed},#{predict},#{remark},#{address},#{card})
	</insert>
	<delete id="deleteByIds" parameterType="java.util.List">
		delete from ht_order_detail where ORDER_ROWID in
		<foreach collection="array" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<delete id="deleteid" parameterType="java.lang.String" >
		delete from ht_order_detail where ORDER_ROWID = #{rowid}
	</delete>
	<update id="update"
		parameterType="com.yichuang.kyjd.rest.entity.order_detail.Order_detail">
		update ht_order_detail
		<set>
			<if test="rowid != null">
				rowid = #{rowid},
			</if>
			<if test="title != null">
				title = #{title},
			</if>
			<if test="count != null">
				count = #{count},
			</if>
			<if test="price != null">
				price = #{price},
			</if>
			<if test="new_price != null">
				new_price = #{new_price},
			</if>
			<if test="inperson != null">
				inperson = #{inperson},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="is_coupon != null">
				is_coupon = #{is_coupon},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
			<if test="indatetime != null">
				indatetime = #{indatetime},
			</if>
			<if test="outdatetime != null">
				outdatetime = #{outdatetime},
			</if>
			<if test="card != null">
				card = #{card},
			</if>
			<if test="subnum != null">
				subnum = #{subnum}
			</if>
		</set>
		where rowid = #{rowid}
	</update>
	<select id="getById" parameterType="java.lang.String" resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from ht_order_detail
		where rowid = #{rowid}
	</select>
	<select id="getList"
		parameterType="com.yichuang.kyjd.rest.entity.order_detail.Order_detail"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from ht_order_detail
		<where>
			<if test="name != null and name != ''">
				name like "%"#{name}"%"
			</if>
		</where>
	</select>
	<select id="getPage"
		parameterType="com.yichuang.kyjd.rest.entity.order_detail.Order_detail"
		resultMap="ResultMap">
		select
		<include refid="Base_Column_List" />
		from ht_order_detail
		<where>
			<if test="name != null and name != ''">
				name like "%"#{name}"%"
			</if>
		</where>
		LIMIT #{pageStart},#{pageEnd}
	</select>
	<select id="getCount"
		parameterType="com.yichuang.kyjd.rest.entity.order_detail.Order_detail"
		resultType="int">
		select count(*) from ht_order_detail
		<where>
			<if test="name != null and name != ''">
				name like "%"#{name}"%"
			</if>
		</where>
	</select>
	<select id="selectOrder_detail"
		parameterType="com.yichuang.kyjd.rest.entity.order_detail.Order_detail"
		resultType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		from ht_order_detail
		<where>
			<if test="name != null and name != ''">
				name like "%"#{name}"%"
			</if>
		</where>
	</select>
	<update id="updateOrderDetail"
		parameterType="com.yichuang.kyjd.rest.entity.order_detail.Order_detail">
		update ht_order_detail
		<set>
			<if test="title != null">
				title = #{title},
			</if>
			<if test="count != null">
				count = #{count},
			</if>
			<if test="price != null">
				price = #{price},
			</if>
			<if test="newprice != null">
				new_price = #{newprice},
			</if>
			<if test="inperson != null">
				inperson = #{inperson},
			</if>
			
			<if test="remark != null">
				remark = #{remark},
			</if>
			<if test="indatetime != null">
				indatetime = #{indatetime},
			</if>
			<if test="outdatetime != null">
				outdatetime = #{outdatetime},
			</if>
			<if test="card != null">
				card = #{card},
			</if>
			<if test="subnum != null">
				subnum = #{subnum}
			</if>
			<if test="passport != null">
				passport = #{passport},
			</if>
			<if test="need != null">
				need = #{need},
			</if>
			<if test="otherneed != null">
				otherneed = #{otherneed},
			</if>
			<if test="predict != null">
				predict = #{predict},
			</if>
		</set>
		where order_rowid = #{rowid}
	</update>
</mapper>